@import "reset.css";

body{
    width: 100%; height: 100%;
    background-color: #e7e7e7;
}
.canvas_frame{
    position: relative;
    width: 100%; height: 900px;
}

.canvas{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width:1600px;
    height:800px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2) 
}

.controler_btn,
.controler_color{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90px;
}


.controler_btn button{
    width: 40px; height: 40px;
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
}

.controler_color li{
    width: 40px; height: 40px;
    cursor: grabbing;
    border-radius: 40px;
}

.controler_btn button:active{
    transform: scale(0.8);
}

.controler_btn #mode.brush svg.fill{display: none;}
.controler_btn #mode.fill svg.brush{display: none;}